<h2>all celebrities</h2>

  {{#each allCelebrities}}

          <p>{{name}}</p>
          
          <ul>
            <li>
              <a class="general-button readMore-button" href="/celebrities/{{_id}}">Read more</a>
            </li>

            <li>
              <form action="/celebrities/{{this._id}}/delete" method="POST">
              <button class="general-button delete-button" type="sumbit">Delete</button>
              </form>
            </li>
          </ul>  
            

  {{/each}}

              <a href="/celebrities/new" class="buttonAdd">Add a new celebrity</a> <br>
              <a href="/" class="button">Back</a>






  