<h2>New celebrities</h2>

<form action='/celebrities' method='POST'>

  <label for="first-name-input">name:</label>
  <input id="first-name-input" type="text" name="name" />

  <label for="occupation-input">occupation:</label>
  <input id="occupation-input" type="text" name="occupation" />

  <label for="catchPhrase-input">catchPhrase:</label>
  <input id="catchPhrase-input" type="text" name="catchPhrase" />

<button type="submit">Save name</button>

<a href="http://localhost:3000/celebrities" class="button">Back</a>

