<h2>details</h2>

<p>
 {{#each details}}
      <b>{{name}}</b>
      <p>{{occupation }}</p>
      <p>{{catchPhrase}}</p>
  {{/each}}
</p>

<a href="http://localhost:3000/celebrities" class="button">Back</a>


